.single__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  margin-top: 2.22rem; /* 35px */
  padding-bottom: 1rem;
  position: relative;
}

.single__contact:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 57.19rem; /* 200px  */
  height: 2px;
  background-color: #fff;
}

.single__contact-figure {
  display: flex;
  gap: 3rem;
}

.single__contact-image {
  width: 6.81rem; /* 109 */
  height: 6.625rem; /* 106px */
  border-radius: 50%;
  object-fit: cover;
}

.single__contact-capture {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: center;
  gap: 1.75rem; /* 28px */
}

.single__contact-name,
.single__contact-number {
  font-family: Inter;
  font-size: 1.25rem; /* 20px */
  text-transform: capitalize;
  font-weight: 400;
  line-height: normal;
}

.single__contact-name {
  color: #fff;
}

.single__contact-number {
  color: #d9d9d9;
}

.single__contact-action-buttons {
  display: flex;
  gap: 2.3125rem; /* 37px */
}
/* RESPONSIVE */
@media screen and (max-width: 767px) {
  .single__contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .single__contact-figure {
    align-items: center;
  }

  .single__contact-image {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .single__contact-capture {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
  }

  .single__contact-action-buttons {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .single__contact-figure {
    gap: 1.3rem;
  }
}
